*{
    margin:0;
    padding:0;
}

/* Navigation Styles*/
nav{
    display:flex;
    justify-content:space-between;
    max-width:1600px;
    margin:auto;
    padding:20px 0px;
    align-items:center;

}
.nav-lists
{
    display:flex;
    justify-content:space-between;
    gap:10px;
    list-style:none;
    font-family: "Arimo", sans-serif;
    font-size:16px;
    font-weight:400;
    color:#575757;

}
.common-btn{
    background-color:blue;
    padding:10px 20px;
    font-family:inter, sans-serif;
    font-size:12px;
    font-weight:700;
    border-radius:10px;
    border:none;
    color:#FFFFFF;
}
span{
    font-style:italic;
}

.hero{
    background-image:url(./Assetss/banner.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    justify-content:center;
    
}
.hero-content{
    max-width:710px;
}
.hero-content h1{
    
    font-family:inter, sans-serif;
    color:#FFFFFF;
    font-size:60px;
    margin-top:200px;
}

.hero-content p{
    font-family:inter, sans-serif;
    color:#FFFFFF;
    font-size:20px;
    margin-top:20px;
}
.hero-content .common-btn{
    margin-top:370px;
    margin-left:200px;
    padding:15px 30px;
    font-size:24px;
    
}
.section-headline{
    max-width:500px;
    margin:20px auto;
    text-align:center;
    font-size:56px;
}
main{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    max-width:1200px;
    margin:50px auto;
    box-sizing:border-box;
   
    
}
.speaker-box{
    display:flex;
    flex-direction:column;
    align-items:start;
    align-content:start;
    justify-content:start;
    justify-items:start;
    gap:10px;
    background-color:#ffffff;
    border:solid 1px #E5E7EB;
    Border-radius:12px;
}
.speaker-info{
    padding:20px;
    
}
.speaker-info .position{
    color:blue;
    margin-bottom:8px;
}
.speaker-info h5{
    margin-bottom:8px;

}
#price-section-para {
    max-width:500px;
    margin:10px auto;
    text-align: center;
    font-size:15px;
}
.tag-container{
    display:flex;
    justify-content:space-between;
    max-width:1000px;
    margin:50px auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding:10px;
    gap:5px;
    
    
    
}
.headline-2{
    font-size:45px;
}
.tag-child{
    border:solid 0.5px #e5e7eb;
    padding:40px;;
    border-radius:10px;
}
.tag-child .p2{
    margin-bottom:50px;

 
}
.facilities{
    display:flex;
    flex-direction: column;

    margin-top:15px;
    gap:10px;
}
.best{
    background:#0D1B2A;
    color:#d1c8c8;
}
.order-button{
    
    margin:20px;
    font-size:14px;
    padding:10px 65px;
    border-radius:5px;
    border-width:0.7px;
}
.O1{
    color:#2563eb;
    border-color:#2563eb;
}
.O2{
    background-color:#2563EB;
}